BasedOnStyle: Google
IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterNamespace: false
    AfterStruct: true
    BeforeCatch: true
    BeforeElse: true
    BeforeWhile: false
    IndentBraces: false
    AfterCaseLabel: true

ColumnLimit: 0  # This disables the column limit, allowing long lines.

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: true

AlignOperands: true
AllowShortBlocksOnASingleLine: Never

# Enable alignment of trailing comments
AlignTrailingComments: true